/* === START CSS RESET === https://andy-bell.co.uk/a-more-modern-css-reset/ */

/* Box sizing rules */
*,
*::before,
*::after {
    box-sizing: border-box;
}

/* Prevent font size inflation */
html {
    -moz-text-size-adjust: none;
    -webkit-text-size-adjust: none;
    text-size-adjust: none;
}

/* Remove default margin in favour of better control in authored CSS */
body, h1, h2, p {
    margin: 0;
}

/* Make images easier to work with */
img {
    max-width: 100%;
    display: block;
}

/* === END CSS RESET === */

@font-face {
    font-family: Manrope;
    src: url("../fonts/Manrope-Bold.ttf");
    font-style: normal;
    font-weight: 700;
}

@font-face {
    font-family: Manrope;
    src: url("../fonts/Manrope-Medium.ttf");
    font-style: normal;
    font-weight: 500;
}

/* COMPOSITION */
:root {
    font-family: Manrope, sans-serif;

    --clr-white-800: #FFFFFF;
    --clr-blue-100: #48556A;
    --clr-blue-200: #80d3e8;
    --clr-blue-400: #6E8098;
    --clr-blue-600: #9DAEC2;
    --clr-blue-800: #ECF2F8;
}

body {
    min-height: 100vh;
}

.card {
    width: var(--card-width, 730px);
    height: var(--card-height, 280px);
    flex-shrink: 0;
}

/* UTILITIES */
.flow > * + * {
    margin-top: var(--flow-space, 1rem);
}

.bg-primary {
    background-color: var(--clr-blue-800);
}

.bg-secondary {
    background-color: var(--clr-white-800);
}

.flex-center {
    display: flex;
    justify-content: center;
    align-items: center;
}

.flex-space {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.flex-start {
    display: flex;
    justify-content: flex-start;
    align-items: center;
}

/* BLOCK */
.content {
    height: 100%;
    justify-content: space-between;
    border-radius: 10px;
    box-shadow: 0 40px 40px -10px rgba(201, 213, 225, 0.50);
}

.content__image {
    background-image: var(--content-image-url, url("../images/drawer-image-desktop.png"));
    background-repeat: no-repeat;
    width: var(--content-image-width, 285px);
    height: var(--content-image-height, 100%);
    flex-shrink: 0;
}

.content-article {
    flex-direction: column;
    align-items: flex-start;
    height: 100%;
    padding: var(--content-article-padding, 32px 40px);
}

.content-article-text {
    --flow-space: 12px;
}

.content-article__title {
    color: var(--clr-blue-100);
    font-weight: 700;
    font-size: var(--content-article-font-size-h1, 20px);
    line-height: var(--content-article-line-height-h1, 28px);
    letter-spacing: var(--content-article-letter-spacing-h1, 0.25px);
}

.content-article__paragraph {
    color: var(--clr-blue-400);
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.122px;
}

.content-article__avatar {
    width: 40px;
    height: 40px;
    border-radius: 40px;
    flex-shrink: 0;
}

.content-article-socials {
    position: relative;
    width: 100%;
}

.content-article-profile {
    gap: 16px;
}

.content-article__author {
    color: var(--clr-blue-100);
    font-weight: 700;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 0.122px;
}

.content-article__date {
    color: var(--clr-blue-600);
    font-size: 13px;
    font-weight: 500;
    line-height: 20px;
    letter-spacing: 0.122px;
}

.content-article__share-button {
    background-color: inherit;
    border: none;
    padding: 0;
    width: 32px;
    height: 32px;
}

.share-balloon {
    visibility: hidden;
    position: absolute;
    background-image: var(--share-balloon-image, url("../images/share-balloon-desktop.svg"));
    background-repeat: no-repeat;
    padding: var(--share-balloon-padding, 18px 36px 29px);
    gap: 21px;
    opacity: 0;
    transition: all 0.2s ease-in-out;
}

.share-balloon-content__text {
    color: var(--clr-blue-600);
    font-weight: 500;
    font-size: 13px;
    line-height: 20px;
    letter-spacing: 5px;
}

.social-icons-wrapper {
    width: 92px;
}

/* EXCEPTIONS */
.content-article__share-button:hover {
    cursor: pointer;
}

.content-article__share-button:hover svg circle {
    fill: var(--clr-blue-400);
}

.content-article__share-button:hover svg path {
    d: path("M24 15.495L17.7663 9.01392V12.8807H16.4409C12.3314 12.8807 9 16.0393 9 19.9358V21.9849L9.58868 21.3733C11.5901 19.2941 14.4221 18.1094 17.3912 18.1094H17.7663V21.9762L24 15.495Z");
    fill: var(--clr-white-800);
}

.social-icon:hover {
    cursor: pointer;
}

.social-icon:hover path {
    fill: var(--clr-blue-200);
}

.state__visible {
    visibility: visible;
    opacity: 1;
}

.state__active-mobile-share-button {
    z-index: 1;
    position: absolute;
    right: 0;
    bottom: -4px;
}

@media only screen and (width >= 768px) {
    .content__image {
        border-radius: 10px 0 0 10px;
    }

    .share-balloon {
        top: -67px;
        right: -108px;
        width: 248px;
    }
}

/* MOBILE VERSION */
@media only screen and (width < 768px) {
    :root {
        /* card */
        --card-width: 327px;
        --card-height: 512px;

        /* content */
        --content-image-url: url("../images/drawer-image-mobile.png");
        --content-image-width: 100%;
        --content-image-height: 200px;
        --content-article-padding: 36px 32px 20px;
        --content-article-font-size-h1: 16px;
        --content-article-line-height-h1: 24px;
        --content-article-letter-spacing-h1: 0.2px;

        /* sharing */
        --share-balloon-image: url("../images/share-balloon-mobile.svg");
        --share-balloon-padding: 22px 32px;
    }

    .content {
        flex-direction: column;
        overflow: clip;
    }

    .share-balloon {
        width: 327px;
        left: -32px;
        bottom: -20px;
    }
}